.btn-verTodos{
    border:none;
    background: none;
    color:$primary;
    font-weight: 600;
    &:hover{
        background-color: $primary-light;
    }
}
.btn-enviar{
    background: $primary;
    padding: 1rem 2rem;
    border: none;
    color: $white;
    font-family: 'Montserrat';
    border-radius: 4px !important;
}