.card{
    @extend %cardBase;
    @include cards ($borderRadius:true, $background:$grey-light !important);
    &:hover{
        transform: scale(1.1);
        transition: 0.5s;
        cursor: pointer;
    }
    &-title{
        font-weight: 600;
    }
}
.banner{
    &-cuentas{
        color: $white;
        border-radius: 0.5rem;
        &:hover{
            cursor: pointer;
            transform: scale(1.05);
            transition: 0.5s;
            background-color: $primary-dark !important;
        }
    }
}
