.card{
    @extend %cardBase;
    @include cards ($borderRadius:true, $background:$grey-light !important);
    &:hover{
        transform: scale(1.1);
        transition: 0.5s;
        cursor: pointer;
    }
}
.card-title{
    font-weight: 600;
}