footer{
    padding: 3rem;
    background-color: map-get($colores, primary);
    color:#ffffff;
    li{
        list-style: none;
    }
    a{
        color:map-get($colores, blanco);
        text-decoration: none;
    }
}
