.form-control{
    &:focus {
        color: #212529;
        background-color: $white;
        border-color: $primary-light;
        outline: 0 !important;
        // box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
    }
}