.nav-link{
    color: #3C3C3C !important;
    &.active {
        color: #64379F !important;
        font-weight: 600;
    }
    &.nav-link:focus{
        color: #330970 !important;
    }
    &.nav-link:hover{
        color: #330970 !important;
    }
}
