.nav-link{
    color: $black !important;
    &.active {
        color: $primary !important;
        font-weight: 600;
    }
    &:focus{
        color: $primary-dark !important;
    }
    &:hover{
        color: $primary-dark !important;
    }
}
