*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
.header__logo h1{
    font-weight: 600 !important;
    color:#64379F;
    margin: 0;
}

h2{
    font-weight: 600 !important;
}
.container{
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    grid-template-columns: 100%;
    grid-template-rows: 27vh auto 15vh ;
}
/* ------------------------------header------------------------------------ */
/* Logo */
.header__logo{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.header__logo img{
    width: 2rem;
}
.header__logo h1{
    font-size: 1.5rem;
}
/* ------------------------------main-------------------------------------- */
main{
    grid-area: main;
    background-color: #ffffff;
    padding: 2rem 1rem;
}
/* -------------------Funcionalidades------------------- */
/* cards */
.card{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #fafafa !important;
    border-radius: 20px;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    height: 224px;
    border:none !important;
}
.card:hover{
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
}
.card-title{
    font-weight: 600;
}
/* -----------------------Contacto---------------------------- */
/* form */
.btn-enviar {
    background: #64379F;
    padding: 1rem 2rem;
    border: none;
    color: #ffffff;
    font-family: 'Montserrat';
    border-radius: 4px !important;
}
.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
/*------------------------------- footer------------------------------------ */
footer{
    padding: 3rem;
    background-color: #64379F;
    color:#ffffff;
}
footer li{
    list-style: none;
}
footer a{
    color:#ffffff;
    text-decoration: none;
}

/*---------------------- Navigation------------------------------------ */
.nav-link{
    color: #3C3C3C !important;
}
.navbar-nav .nav-link.active {
    color: #64379F !important;
    font-weight: 600;
}
.nav-link:focus, .nav-link:hover{
    color: #330970 !important;
}

/*---------------------- Beneficios ------------------------------------ */
/* Badge */
.badge-primary{
    background-color: #64379F !important;
    position: absolute;
    top:2rem;
    right: 2rem;
}
.btn-verTodos{
    border:none;
    background: none;
    color:#64379F;
    font-weight: 600;
}
.btn-verTodos:hover{
    background-color: #EDE7F4;
}
